body {
  margin: 0;
  font-family: Arial;
  color: white;
}

.bg {
  position: fixed;
  inset: 0;
  background: url("background.png") center/cover;
  filter: brightness(0.4);
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

.logo {
  height: 50px;
}

nav a {
  margin-left: 15px;
  padding: 8px 14px;
  background: #ff4d4d;
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

input {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

main {
  text-align: center;
  margin-top: 120px;
}
